td.d-none.d-sm-inline-block
  i.d-none.d-sm-block.glyphicon.glyphicon-usd
td.d-none.d-sm-inline-block
  i.d-none.d-sm-block
td.d-none.d-sm-inline-block
  i.d-none.d-lg-block.glyphicon.glyphicon-phone
td
  span.text-truncate.d-none.d-lg-block
    | Coinstructor (3000+; 100%)
  span.text-truncate.d-none.d-sm-block.d-md-none
    | Coinstructor
td
  | 1K~300K
td.price
  | 2072054.13
