doctype html
html(lang="en")
  head
    title lo.app
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet" href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/glyphicons.css")
    link(rel="stylesheet" href="/css/loapp.css")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light#header
      a.navbar-brand#online(href="/") lo.app
      ul.navbar-nav.mr-auto
        li.nav-item
          a.nav-link(href="#")
            button.btn.btn-link#notifications
              i.glyphicon.glyphicon-comment.mr-1
              span 5
            button.btn.btn-link#alerts
              i.glyphicon.glyphicon-bell.mr-1
              span 2
      button.btn.btn-link#wallet
        i.glyphicon.glyphicon-bitcoin.mr-1
        span 0.0269
      button.navbar-toggler(data-toggle="collapse" data-target="#collapser")
        span.navbar-toggler-icon
      .navbar-collapse.collapse#collapser
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link.active(href="/p/start") Start
          li.nav-item
            a.nav-link(href="/p/markets") Markets
          li.nav-item
            a.nav-link(href="/p/contacts") Contacts
          li.nav-item
            a.nav-link(href="/p/messenger") Messenger
          li.nav-item

    block content

    script(src="/js/jquery.slim.min.js")
    script(src="/js/bootstrap.min.js")

    block javascript

//- vim: foldlevel=3 filetype=slim
