.market_ad
  h5.mb-0.text-success
    span.temp_price 5007810.10
    span.pl-1.currency ARS
  small.text-muted Limit 500-200K
  address
    //- visible on md and up
    span.d-none.d-sm-block
      i.glyphicon.glyphicon-user.mr-1
      | Coinstructor (1000+; 100%)
    //- visible only on sm; hidden on md and up
    span.d-block.d-sm-none
      i.glyphicon.glyphicon-user.mr-1
      | Coinstructor
    small.truncate.text-muted
      i.glyphicon.glyphicon-tag.mr-1
      | Brubank, .reba, Prex, UALA
