body, button, input, select, textarea {
  font-size: 13px !important;
}

@media only screen and (max-device-width: 640px) {
  .ads tr.text-muted {
    display: none;
  }
  .ads tr td:nth-child(4) {
    display: none;  /* hide username */
  }
}

.truncate {
  display: block;
  width: 99%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal-header .close {
  padding: 1.2rem 1.2rem !important;
}
.modal-body {
  padding: 0.5rem !important;
}
#ad_data .market_ad h5 {
  font-weight: bolder;
}
#ad_data a.btn {
  font-size: 13px !important;
}
#ad_data .card {
  border: none !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
#ad_data input {
  width: 50%;
}
#ad_data .input-group-text {
  font-size: 13px !important;
}
