body, button, input, select, textarea {
  font-size: 13px !important;
}
.profile .card-body p {
  margin-bottom: 0;
}
#message-alert {
  margin-top: 0;
  margin-bottom: 1rem;
}

#positions a.nav-link span.badge-pill {
  margin-left: 0.5rem;
}
#positions .filters {
  margin: 0.5rem 0;
}
#positions .filters .badge {
  margin-right: 0.5rem;
}
.contact .list-group-item {
  border: none;
}
.contact .list-group-item:last-child {
  padding-bottom: 0;
}

.position .head .table-borderless {
  margin-bottom: 0;
}
.position .head .milestones .fa {
  margin-right: 0.5rem;
}
.position .bar .low-margin {
  margin-right: 0.5rem;
}
.position .bar .high-margin {
  margin-left: 0.5rem;
}
.position .bar .bg-empty {
  background-color: transparent;
}
.position .actions {
}
