doctype html
html(lang="en")
  head
    title App
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel="stylesheet",href="/css/bootstrap.min.css")
    link(rel="stylesheet" href="/css/glyphicons.css")
    link(rel="stylesheet",href="/css/styles.css")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
      a.navbar-brand(href="/") App
      button.navbar-toggler(data-toggle="collapse" data-target="#collapser")
        span.navbar-toggler-icon
      .navbar-collapse.collapse#collapser
        ul.navbar-nav.mr-auto
          li.nav-item
            a.nav-link.active(href="/") Home
          li.nav-item
            a.nav-link(href="/p/markets") Markets
          li.nav-item
            a.nav-link(href="/p/messenger") Messenger
          li.nav-item
            a.nav-link(href="/p/positions") Positions

    block content

    script(src="/js/jquery.slim.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/app.js")

//- vim: foldlevel=3 filetype=slim
