extends _layout.pug

block content
  .container-fluid
    .row
      .col-3
        div.list-group
          a.list-group-item.list-group-item-actiond-flex.justify-content-between.align-items-center(href="#MrTynKyn",data-toggle="list")
            span.font-weight-bold.text-success
             | HookSPrime (2; 100%)
          a.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center.active(href="#magiosssss",data-toggle="list")
            span.text-muted
              s magiosssss (100+; 97%)
          a.list-group-item.list-group-item-action.d-flex.justify-content-between.align-items-center(href="#MrTynKyn",data-toggle="list")
            span.font-weight-bold.text-warning
              | MrTynKyn (3000+; 100%)
            span.badge.badge-pill.badge-primary 1
          a.list-group-item.list-group-item-action(href="#") doctorsaturno
          a.list-group-item.list-group-item-action(href="#") BitcomTxm
          a.list-group-item.list-group-item-action(href="#") Jasonrf
          a.list-group-item.list-group-item-action(href="#") distrubuu
          a.list-group-item.list-group-item-action(href="#") MyRoom
          a.list-group-item.list-group-item-action(href="#") juanmdamico
      .col-9
        .tab-content
          .tab-pane#MrTynKyn
            .row
              .col-8
                #message-alert.alert.alert-info
                  i.glyphicon.glyphicon-ok
                  | &nbsp;
                  | Message sent successfully!
                .contact.card
                  .card-header
                    .row
                      .col-2
                        nobr
                          a(href="#") #20938077
                        span.badge.badge-pill.badge-danger Cancelled
                      .col-6
                        .temp_price 500.00 ARS for 0.00244904 BTC
                        small at 204,161.63 ARS/BTC
                      .col-4.text-right
                        small.text-muted April 23, 2018, 11:24 p.m.
                  ul.list-group.list-group-flush
                    li.list-group-item
                      div.float-left
                        i.glyphicon.glyphicon-comment
                        | &nbsp;
                      div.float-left
                        div Hola! Tenes Santander Rio?
                        div
                          small.text-muted April 23, 2018, 11:20 p.m.
                    li.list-group-item.text-right
                      div.float-right
                        | &nbsp;
                        i.glyphicon.glyphicon-paperclip
                      div.float-right
                        div Hola!!
                        div
                          small.text-muted April 23, 2018, 11:20 p.m.
                    li.list-group-item.text-right
                      div.float-right
                        | &nbsp;
                        i.glyphicon.glyphicon-send
                      div.float-right
                        div No solo banco Macro
                        div
                          small.text-muted April 23, 2018, 11:22 p.m.
                    li.list-group-item
                      div.float-left
                        i.glyphicon.glyphicon-comment
                        | &nbsp;
                      div.float-left
                        div Uh que bajon, necesitaba hacerlo por santander obligatoriamente.
                        div
                          small.text-muted April 23, 2018, 11:23 p.m.
                    li.list-group-item
                      div.float-left
                        i.glyphicon.glyphicon-comment
                        | &nbsp;
                      div.float-left
                        div Bueno igual muchisimas gracias, feliz noche!
                        div
                          small.text-muted April 23, 2018, 11:23 p.m.
                    li.list-group-item.text-right
                      div.float-right
                        | &nbsp;
                        i.glyphicon.glyphicon-paperclip
                      div.float-right
                        div Por favor, sigue las instrucciones a la derecha para completar esta operacion.
                        div
                          small.text-muted April 23, 2018, 11:24 p.m.
                    li.list-group-item
                      form
                        .form-group
                          textarea.form-control(rows="3",placeholder="Message will be queued for delivery within the next 20 seconds")
                        .form-group
                          button.btn.btn-primary(type="submit")
                            i.glyphicon.glyphicon-send
                            | &nbsp;
                            | Send
              .col-4
                .profile.card
                  .card-body
                    h6
                      i.glyphicon.glyphicon-user.text-warning
                      | &nbsp;
                      a(href="https://localbitcoins.com/p/MrTynKyn",target="_blank") MrTynKyn (3000+; 100%)
                      | &nbsp;
                      span.badge.badge-pill.badge-success 2
                    p
                      | Compro tus BTC casi de inmediato. Realizo todo desde el telefono.<br>
                      | whatsapp +5492235174545<br>
                      | Carlos
                    div
                      i.glyphicon.glyphicon-gift
                      | &nbsp;
                      | 3 years, 4 months
                      | &nbsp;
                      i.glyphicon.glyphicon-bitcoin
                      | &nbsp;
                      | 500+ BTC
                    div
                      i.glyphicon.glyphicon-thumbs-up
                      | &nbsp;
                      | 256
                      | &nbsp; &nbsp;
                      i.glyphicon.glyphicon-thumbs-down
                      | &nbsp;
                      | 2
                    button.btn.btn-danger.float-right(type="button")
                      i.glyphicon.glyphicon-ban-circle
                      | &nbsp;
                      | Block
                    button.btn.btn-primary.float-right(type="button",style="margin-right:1rem;")
                      i.glyphicon.glyphicon-thumbs-up
                      | &nbsp;
                      | Trust

          .tab-pane#magiosssss.active
            .row
              .col-8
                #message-alert.alert.alert-dark
                  i.glyphicon.glyphicon-remove
                  | &nbsp;
                  | You can no longer message this user.
                .contact.card
                  .card-header
                    .row
                      .col-2
                        nobr
                          a(href="#") #5998293
                        span.badge.badge-pill.badge-danger Cancelled
                      .col-6
                        .temp_price 200.00 ARS for 0.01940000 BTC
                        small at 10,309.28 ARS/BTC
                      .col-4.text-right
                        small.text-muted July 20, 2016, 3:20 p.m.
              .col-4
                .profile.card
                  .card-body
                    h6
                      i.glyphicon.glyphicon-user.text-muted
                      | &nbsp;
                      a(href="https://localbitcoins.com/p/magiosssss",target="_blank") magiosssss (100+; 97%)
                      | &nbsp;
                      span.badge.badge-pill.badge-danger 1
                    div
                      i.glyphicon.glyphicon-gift
                      | &nbsp;
                      | 2 years, 3 months
                      | &nbsp;
                      i.glyphicon.glyphicon-bitcoin
                      | &nbsp;
                      | 2-5 BTC
                    div
                      i.glyphicon.glyphicon-thumbs-up
                      | &nbsp;
                      | 18
                      | &nbsp; &nbsp;
                      i.glyphicon.glyphicon-thumbs-down
                      | &nbsp;
                      | 2
                    button.btn.btn-success.float-right(type="button")
                      i.glyphicon.glyphicon-ban-circle
                      | &nbsp;
                      | Unblock

//- vim: foldlevel=5
