extends _layout.pug

block content
  .container#positions
    ul.nav.nav-tabs
      li.nav-item
        a.nav-link.active(href="#open" data-toggle="tab")
          i.fa.fa-chart-line
          | Open
      li.nav-item
        a.nav-link(href="#closed" data-toggle="tab")
          i.fa.fa-lock
          | Closed

    .tab-content
      .tab-pane#open.active
        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge.badge-primary
                        | BASE
                      span.badge.badge-secondary
                        | COUNTER
                      span.badge
                        | 25/07
                  td.text-center(width="20%")
                    | 0.0236625 COUNTER
                    br
                    i.fa.fa-arrow-down
                  td.align-middle.text-right(width="40%")
                    | 275 BASE
                    | (8)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped(style="width:25%;")
              .progress-bar.bg-danger(style="width:25%;") -10%
              .progress-bar(style="width:12.5%;") 5%
              .progress-bar.bg-empty.progress-bar-striped(style="width:37.5%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="45%")
                    span.text-danger
                      | &nbsp; 0,02129625 (-10%) &nbsp;
                  td(width="10%")
                    button.btn.btn-sm(type="button")
                      i.fa.fa-unlock-alt
                      | Close
                  td.align-middle.text-left(width="45%")
                    span.text-info
                      | &nbsp; 0,024845 (5%)

        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge.badge-primary
                        | BASE
                      span.badge.badge-secondary
                        | COUNTER
                      span.badge
                        | 25/07
                  td.text-center(width="20%")
                    | 0.0236625 COUNTER
                    br
                    i.fa.fa-arrow-down
                  td.align-middle.text-right(width="40%")
                    | 275 BASE
                    | (8)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped(style="width:25%;")
              .progress-bar.bg-danger(style="width:12.5%;") -10%
              .progress-bar(style="width:12.5%;") -5%
              .progress-bar.bg-empty.progress-bar-striped(style="width:50%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="45%")
                    span.text-danger
                      | &nbsp; 0,02129625 (-10%) &nbsp;
                    span.text-info
                      | &nbsp; 0,022479 (-5%) &nbsp;
                  td(width="10%")
                    button.btn.btn-sm(type="button")
                      i.fa.fa-unlock-alt
                      | Close
                  td.align-middle.text-left(width="45%")

        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge.badge-primary
                        | BASE
                      span.badge.badge-secondary
                        | COUNTER
                      span.badge
                        | 25/07
                  td.text-center(width="20%")
                    | 0.0236625 COUNTER
                    br
                    i.fa.fa-arrow-down
                  td.align-middle.text-right(width="40%")
                    | 275 BASE
                    | (8)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped(style="width:12.5%;")
              .progress-bar(style="width:12.5%;") -15%
              .progress-bar.bg-danger(style="width:25%;") -10%
              .progress-bar.bg-empty.progress-bar-striped(style="width:50%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="45%")
                    span.text-info
                      | &nbsp; 0,02011312 (-15%) &nbsp;
                    span.text-danger
                      | &nbsp; 0,02129625 (-10%) &nbsp;
                  td(width="10%")
                    button.btn.btn-sm(type="button")
                      i.fa.fa-unlock-alt
                      | Close
                  td.align-middle.text-left(width="45%")

        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge.badge-primary
                        | BASE
                      span.badge.badge-secondary
                        | COUNTER
                      span.badge
                        | 25/07
                  td.text-center(width="20%")
                    | 0.0236625 COUNTER
                    br
                    i.fa.fa-arrow-down
                  td.align-middle.text-right(width="40%")
                    | 275 BASE
                    | (8)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped.progress-bar-animated(style="width:100%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="45%")
                  td(width="10%")
                    button.btn.btn-sm(type="button")
                      i.fa.fa-ban
                      | Stop
                  td.align-middle.text-left(width="45%")

      .tab-pane#closed
        .filters
          span.badge.badge-light
            | BASE
          span.badge.badge-light
            | BASE
          span.badge.badge-light
            | BASE
          span.badge.badge-dark
            | BASE
          span.badge.badge-dark
            | BASE
          i.fa.fa-times-circle
        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge.badge-primary
                        | BASE
                      span.badge.badge-secondary
                        | COUNTER
                      span.badge
                        | 25/07
                  td.text-center(width="20%")
                    | 0.0236625 COUNTER
                    br
                    i.fa.fa-arrow-down
                  td.align-middle.text-right(width="40%")
                    | 275 BASE
                    | (8)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped(style="width:37.5%;")
              .progress-bar(style="width:12.5%;") -5%
              .progress-bar.bg-success(style="width:25%;") 10%
              .progress-bar.bg-empty.progress-bar-striped(style="width:25%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="45%")
                    span.text-info
                      | &nbsp; 0,022479 (-5%) &nbsp;
                  td(width="10%")
                    button.btn.btn-sm(type="button")
                      i.fa.fa-unlock-alt
                      | Close
                  td.align-middle.text-left(width="45%")
                    span.text-success
                      | &nbsp; 0,02602875 (10%) &nbsp;

        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge.badge-primary
                        | BASE
                      span.badge.badge-secondary
                        | COUNTER
                      span.badge
                        | 25/07
                  td.text-center(width="20%")
                    | 0.0236625 COUNTER
                    br
                    i.fa.fa-arrow-down
                  td.align-middle.text-right(width="40%")
                    | 275 BASE
                    | (8)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped(style="width:50%;")
              .progress-bar(style="width:12.5%;") 5%
              .progress-bar.bg-success(style="width:12.5%;") 10%
              .progress-bar.bg-empty.progress-bar-striped(style="width:25%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="45%")
                  td(width="10%")
                    button.btn.btn-sm(type="button")
                      i.fa.fa-unlock-alt
                      | Close
                  td.align-middle.text-left(width="45%")
                    span.text-info
                      | &nbsp; 0,024845 (5%) &nbsp;
                    span.text-success
                      | &nbsp; 0,02602875 (10%) &nbsp;

        .position
          .head
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-left(width="40%")
                    h5
                      span.badge.badge-primary
                        | BASE
                      span.badge.badge-secondary
                        | COUNTER
                      span.badge
                        | 25/07
                  td.text-center(width="20%")
                    | 0.0236625 COUNTER
                    br
                    i.fa.fa-arrow-down
                  td.align-middle.text-right(width="40%")
                    | 275 BASE
                    | (8)
          .bar
            span.low-margin.text-muted.float-left -20%
            span.high-margin.text-muted.float-right +20%
            .progress(style="height:25px;")
              .progress-bar.bg-empty.progress-bar-striped(style="width:50%;")
              .progress-bar.bg-success(style="width:25%;") 10%
              .progress-bar(style="width:12.5%;") 15%
              .progress-bar.bg-empty.progress-bar-striped(style="width:12.5%;")
          .actions.my-2.text-center
            table.table.table-borderless.table-sm
              tbody
                tr
                  td.align-middle.text-right(width="45%")
                  td(width="10%")
                    button.btn.btn-sm(type="button")
                      i.fa.fa-unlock-alt
                      | Close
                  td.align-middle.text-left(width="45%")
                    span.text-success
                      | &nbsp; 0,02602875 (10%) &nbsp;
                    span.text-info
                      | &nbsp; 0,027211875 (15%) &nbsp;

//- vim: list foldlevel=2
