extends markets/_layout.pug

block content
  .container-fluid
    h5
      i.glyphicon.glyphicon-transfer
      | &nbsp;
      | NATIONAL_BANK
    .row.row-cols-2
      .col
        include markets/_market_bid.pug
      .col
        include markets/_market_ask.pug
    hr

    h5
      i.glyphicon.glyphicon-home
      | &nbsp;
      | SPECIFIC_BANK
    .row.row-cols-2
      .col
        include markets/_market_bid.pug
      .col
        include markets/_market_ask.pug
    hr

  nav.navbar.fixed-bottom.justify-content-center
    .btn-toolbar#bar
      .btn-group
        button.btn.btn-info(type="button")
          | ARS
        button.btn.btn-secondary(type="button")
          | BRL
        button.btn.btn-secondary(type="button")
          | BOB
        button.btn.btn-secondary(type="button")
          | CLP
        button.btn.btn-secondary(type="button")
          | PYG
        button.btn.btn-secondary(type="button")
          | USD
        button.btn.btn-secondary(type="button")
          | ...
          // | UYU
        //-
          button.btn.btn-info(type="button")
            | DASH
          button.btn.btn-secondary(type="button")
            | ETH
          button.btn.btn-secondary(type="button")
            | LTC
          button.btn.btn-secondary(type="button")
            | XLM
          button.btn.btn-secondary(type="button")
            | XMR
          button.btn.btn-secondary(type="button")
            | XRP
          button.btn.btn-secondary(type="button")
            | XVG
